{% extends "logged.html" %}


{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
<div class="content box-content">
<h2>Modification du mot de passe</h2>
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form" class="form">
	{{ change_password_form.hidden_tag() }}
	{{ render_field_with_errors(change_password_form.password) }}</label>
	{{ render_field_with_errors(change_password_form.new_password) }}
	{{ render_field_with_errors(change_password_form.new_password_confirm) }}
  	<p><input type="submit" value="Modifier"></p>
</form>
</div>
{% endblock %}
