<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Fédération &ndash; ENS de Lyon{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head_assets %}
        <link rel="stylesheet" href="//cdn.jsdelivr.net/normalize/2.1.2/normalize.css">
        {% assets "css_all" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        <script type="text/javascript" src="//cdn.jsdelivr.net/modernizr/2.6.2/modernizr.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>
        {% endblock head_assets %}
        {% endblock head %}
    </head>
    <body>
        {% block body %}
        <header class="top-bar">
            <h1>Fédération</h1>
            <ul class="nav nav-line">
                <li><a href="{{ url_for('events') }}">Événements</a></li>
                {% if current_user.has_role('CSE-Dossier') or current_user.has_role('CSE-Anonyme') %}
                <li><a href="{{ url_for('cse') }}">CSE</a></li>
                {% endif %}
                {% if current_user.has_role('Administrateur') %}
                <li><a href="{{ url_for('newsletter') }}">Newsletter</a></li>
                <li><a href="{{ url_for('admin') }}">Administration</a></li>
                {% endif %}
            </ul>
            {% if current_user.is_authenticated() %}
            <div class="right-block">
                <ul class="nav nav-line">
                    <li>Hey, {{ current_user.prenom }} {{ current_user.nom }} !</li>
                    <li><a href="/change">Mot de passe</a></li>    
                    <li><a href="/logout">Déconnection</a></li>    
                </ul>
            </div>
            {% endif %}
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        {% endblock body %}
    </body>
</html>